* {
    /* to get complete width on page  */
    margin: 0px;
    padding: 0px;
}

.navigation {
    font-family: var(--font1);
    /*custom variable defind in utils.css */
    /* height: 75px; */
    /* background-color: rgb(174, 219, 168); */
    /* using flex box and his properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
}

.nav-left {
    font-size: 50px;
    display: flex;
}

.nav-left span {
    padding-top: 3px;
}

.nav-left span img {
    width: 56px;
    padding-top: 5px;
}

.nav-left span a {
    text-decoration: none;
    color: var(--main-bg-color);
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0px 25px;
    font-size: 20px;
    font-weight: bolder;
}

.nav-left ul li {
    list-style: none;
    margin: 0px 10px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover {
    font-weight: bolder;
    color: var( --main-bg-color);
}

.nav-right {}

.content {
    margin-top: 10px;
    height: 100%;
    padding: 2px;
    /* background-color: rgb(197, 197, 238); */
    display: flex;
    position: relative;
}

.content::after {
    content: "";
    background-image: url("../img/fea2.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.28;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-left {
    font-family: var(--font1);
    /* width: 50%; */
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    /* z-index: 1; with this propety we can select text to process */
}

.content-right {
    /* width: 50%; */
    padding-top: 15px;
    align-items: center;
    justify-content: center
}

.content-right img {
    height: 240px;
    border: 0px solid black;
    border-radius: 157px;
}

.home-articles {
    /*height: 455px;
    */
    background-color: rgb(251, 249, 247, 0.9);
    /*addedalfavaluetoaddopacityinbg-color*/
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.year-box {
    position: absolute;
    /* width: 40px;
    height: 400px; */
    /* background-color: rgb(228, 169, 158); */
    right: 1px;
    top: 36px;
    width: 150px;
    height: 212px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 250px;
    border: 0px solid black;
    border-radius: 92px;
}

.home-aeticle-content {
    align-self: center;
    /* align-self: center is child property of flex */
    padding: 20px;
    z-index: 1;
}

.home-aeticle-content a {
    text-decoration: none;
    /* color: var(--main-bg-color); */
    color: blue;
}


/* .home-articles{} */

.footer {
    height: 60px;
    margin-top: 26px;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a {
    color: white;
}